{{ form_start(delete_form, {'attr': {'onsubmit': 'return confirm("Êtes-vous sûr de vouloir supprimer cette réservation ?");'}}) }}
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
{{ form_end(delete_form) }} 